.newUser {
    flex: 4;
    padding: 4% 0 0 2%;
}

.newUserTitle {
  font-weight: 600;
  padding-bottom: 2%;
  text-align: center;
  font-size: 30px;
}

.newUserForm {
  display: flex;
  flex-wrap: wrap;
}

.newUserItem {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
}

.newUserItem > label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #084442;
}
  
.newUserItem > input {
  padding: 12px 15px;
  border: 1px solid gray;
  border-radius: 3px;
  outline: none;
  background: white;
  font-size: 18px;
}

.newUserGender > input {
  margin-top: 15px;
  outline: none;
}

.newUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newUserSelect{
    padding: 12px 15px;
    border-radius: 3px;
    background: white;
}

.newUserButton{
    width: 200px;
    border: none;
    background-color: #084442;
    color: white;
    padding: 9px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.createUserButton {
  width: 100%;
  padding-top: 30px;
}

.register-button {
  width: 48%;
  display: flex;
  padding: 8px;
  border-radius: 8px;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 19px;
  cursor: pointer;
  background: #084442;
}






@media screen and (max-width: 770px){
  .newUser {
    width: 100%;
    overflow-x: hidden;
    padding: 30px 1%;
  }

  .newLessons {
    padding: 30px 4% 0 2%;
  }

  .newUserTitle {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 0;
    text-align: center;
  }

  .newUserForm {
    padding: 10px 0;
    flex-direction: column;
  }

  .newUserItem {
    margin: 0 0 20px 0;
    width: 100%;
  }

  .newUserButton{
    width: 100%;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7.5px 10px;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 20px;
  }

  .createUserButton {
    width: 100%;
    padding-top: 30px;
  }
}