.status-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.status-button button {
    color: white;
    padding: 5px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}