.sidebar-container {
    height: 100%;
}

.sidebar-wrapper {
    height: 100%;
    width: 100%;
    padding: 10px 4%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-logo {
    width: 100%;
    padding: 10px 0 20px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-logo {
    font-weight: bold;
    font-size: 28px;
}

    /*-------------- sidebar links --------------*/
.sidebar-links {
    padding: 20px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.541);
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 18px;
    color: var(--background);
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.sidebar-link:hover {
    background: rgba(128, 128, 128, 0.616);
    transition: background 0.4s ease;
}

.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.541);
}

.sidebar-logout {
    position: sticky;
    bottom: 10px;
    width: 100%;
}

.sidebar-logout button {
    width: 100%;
    padding: 6px;
    background: rgb(199, 1, 1);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 3px;
}

.sidebar-logout:hover button {
    background: rgb(216, 2, 2);
    transition: background 0.4s ease;
}