/* Light theme variables */
:root {
  --background: #ECEEF2;
  --secondary-background: #FDFFFF;
  --whiter-color: #fff;
  --primary-color: #2A3037;
  --third-color: #2a3037de;
  --secondary-color: #018559;
  --secondary-deep-color: #015c3e;
  --accent: #00e297;
  --icons-color: #00c281;
  --dark-green: green;
  --badge-color: #026aaf;
  --blue-font: #0134a1;
  --font-blue: #0134a1;
  --blue-color: blue;
  --softer-black: #2e2e2e;
  --softer-gray: #474747;

  font-family: 'Poppins', sans-serif;
  --box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

  /*----------------- table buttons -------------------*/
.completed button, .read button, .completed-circle, .approved-button, .completed {
    background:  var(--secondary-color); /* #01b401 */
}

.pending button, .unread button, .pending-circle, .pending {
    background: rgb(189, 161, 1);
}

.failed button, .failed-circle, .rejected-circle, .rejected {
    background: rgb(233, 83, 83);
}

.scheduled-circle, .scheduled {
    background: rgb(68, 106, 233);    
}

.newsButtons {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.viewButton {
    height: 32px;
    width: 50px;
    padding: 4px 45px;
    background: #006e8a;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: white;  
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: center;
} 

    /*---------------table---------------*/
.datagrid_large {
    display: block;
    height: 100%;
    max-width: calc(100vw - 270px);
}
  
.datagrid_small {
    display: none;
    overflow-x: scroll;
}


/*--------------------------- MEDIA QUERYING ---------------------------------*/
@media screen and (max-width: 1028px) {
    .datagrid_large {
      max-width: 100%;
    }
}


@media screen and (max-width: 770px){
    .userList {
        overflow-x: hidden;
    }

    .datagrid_large {
        display: none;
    }

    .datagrid_small {
        display: block;
        /* height: calc(100vh - 69px); */
        overflow-x: scroll;
    }

    .fit-datagrid_small {
        height: 65vh;
    }
}