@import "tailwindcss";

html.light-theme { --bg: #ffffff; --text: #000000; }
html.dark-theme  { --bg: #1b1b1b; --text: #ffffff; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html body {
  font-family: "poppins";
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

.link-main {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.link-blue {
  color: blue;
  cursor: pointer;
}